@import url('https://fonts.googleapis.com/css?family=Oswald|Titillium+Web:200&subset=latin-ext');
@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
/*
@import url('https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css');
*/
:root {
	--primary: #222222;
	--primarydark: #141414;
	--primarylight: #2B2B2B;
	--secondary: #37474f;
	--secondarydark: #263238;
	--secondarylight:#78909c ;
	--accent: #37474f;
	--url: url("https://image.ibb.co/g5sxUk/pobrane.png");
}
* {
	margin: 0;
	box-sizing: border-box;
	transition: .3s ease-in-out;
}
.b {
	border: 1px solid red;
}
html, body {
	font-weight: 100;
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
	line-height: 16px;
	letter-spacing: 2px;
	background: var(--primary) var(--url);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.screen {
	position: absolute;
	width: 360px;
	height: 640px;
	background: var(--secondary);
	overflow: hidden;
}
header {
	display: block;
	height: 40%;
	width: 100%;
	transform: skewY(10deg) scale(1.4);
	background-position: 74%;
	background-size: calc(1604px / 2) calc(881px /2);
	box-shadow: inset 75px 0 105px 10px rgba(0,0,0,.5), inset 0 -3px 1px  rgba(0,0,0,.5);
	overflow: hidden;
}
video {
	object-fit: contain;
	position: absolute;
	bottom: 5%;
	transform: skewY(-10deg) scale(1);
	z-index: -10000;
	filter:invert(90%) hue-rotate(140deg);
}
nav {
	position: absolute;
	min-height: 50px;
	width: 100%;
	top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	flex-flow: row wrap;
	box-shadow: 0 -26px 5px var(--secondarydark), inset 0 1px 2px rgba(0,0,0,.5);
}
nav:before {
	position: absolute;
	top: -20px;
	left: 0;
	text-align: center;
	width: 100%;
	content: ' My first mobile, css-only ui design ;]';
	text-decoration: underline;
	text-decoration-color:  rgba(250,250,250,.2);
	text-decoration-skip: ink;
	color: rgba(250,250,250,.6);
}
button {
	background: transparent;
	font-size: 1.6rem;
	padding:0;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	border: none;
	outline: none;
	cursor: pointer;
	color: rgba(250,250,250,.6);
	text-shadow: 0 0 4px black ;
}

section,
article {
	position: absolute;
	display: flex;
	justify-content: center;
	height: 70%;
	min-width: 100%;
}
article {
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
article h1 {
	letter-spacing: 0;
	font-variant: small-caps;
	font-family: 'Oswald', sans-serif;
	font-size: 3rem;
	line-height: 3rem;
	color: rgba(250,250,250,.7);
	text-shadow: 0 0 2px rgba(0,0,0,1);
}
article p {
	color: white;
	border-radius: 3px;
	text-shadow: 0 0 2px rgba(0,0,0,1);
	padding: 10px;
}
article p i {
	padding-top: 12px!important;
}
.avatar {
	margin-top: -30px;
	display: inline-block;
	vertical-align: top;
	width: 170px;
	height: 170px;
	overflow: hidden;
	border-radius: 50%;
	box-shadow: 0 -6px 12px rgba(0,0,0,.6), 0 6px 12px rgba(0,0,0,.6);
}
.avatar img {
	max-width: 100%;
	max-height: 100%;
}
progress[value] {
	-webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
					border: none;
					height: 10px;
	border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
